<!DOCTYPE HTML>
<html>
	<head>
		<title>Cand0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								{% if session['ID'] %}
									<h1><a href="/index" id="logo">{{ session['ID'] }} </a></h1>
								{% else %}
									<h1><a href="/index" id="logo">Cand0</a></h1>
								{% endif %}
								<hr />
								<p>Welcome to my CTF</p>
							</header>
							<footer>
								{% if session['ID'] %}
									<a href="#banner" class="button circled scrolly">Start</a>
									<a href="/logout" class="button circled scrolly">logout</a>
								{% else %}
									<a href="/sign-in" class="button circled scrolly">Login</a>
									<a href="/sign-up" class="button circled scrolly">Register</a>
								{% endif %}
							</footer>
						</div>

					<!-- Nav -->
					{% include "/base/sub_top.html" %}
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
						<h2> Welcome to My <strong>CTF</strong></h2>
					</header>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic06.jpg') }}"" alt="" /></a>
						<header>
							<h2 id = "notice"><a href="#notice" class = "circled scrolly"><strong>Notice</strong></a></h2>
								<p>1. 가나다라</p>
								<p>2. 다라마바</p>
								<p>3. 사마바아</p>
								<p>4. 자차카타</p>
								<p>5. 파하가나</p>
						</header>
						<footer>
							<a href="/challenges/" class="button">Go to the Challenge</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				{% include "/base/hint.html" %}

				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
