<!DOCTYPE HTML>
<html>
	<head>
		<title>Cand0</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<script src="{{url_for('static', filename='js/myjs.js')}}"></script>
		<script src="{{url_for('static', filename='js/menu.js')}}"></script>
	</head>
	<body class="homepage is-preload" onload="floating();">
		<div id="page-wrapper">
			<!-- right_menu -->
			{% if session['ID'] %}
				{% include "/base/quick_menu.html" %}
			{% endif %}
			<!-- Header -->
				<div id="header">

					<!-- Inner -->
						<div class="inner">
							<header>
								<script>ChallTimer()</script>
								<h1><span id = "leftTimes" style = "color : #00D8FF; font-size:3em;"></span></h1>
								<hr />
								<p>Welcome to my CTF</p>
							</header>
							<footer>
								{% if session['ID'] %}
									<a href="#banner" class="button circled scrolly">Start</a>
								{% else %}
									<a href="/sign-in" class="button circled scrolly">Login</a>
								{% endif %}
							</footer>
						</div>

					<!-- Nav -->
					{% include "/base/sub_top.html" %}
				</div>

			<!-- Banner -->
				<section id="banner">
					<header>
					</header>
				</section>

			<!-- Main -->
				<div class="wrapper style2">

					<article id="main" class="container special">
						<a href="#" class="image featured"><img src="{{ url_for('static', filename='images/pic06.jpg') }}"" alt="" /></a>
						<header>
							<h2><strong>Notice</strong></h2>
								<p>1. 가나다라</p>
								<p>2. 다라마바</p>
								<p>3. 사마바아</p>
								<p>4. 자차카타</p>
								<p>5. 파하가나</p>
						</header>
						<footer>
							<a href="#hints-wrapper" class="button scrolly">Next</a>
						</footer>
					</article>

				</div>

			<!-- Features -->
				{% include "/base/hint.html" %}

				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
