                {% include "/base/top.html" %}
                                        <!-- Inner -->
                                                <div class="inner">
                                                        <header>
                                                                <h1><a href="#scoreboard" id="logo" class="circled scrolly">Scoreboard</a></h1>
                                                        </header>
                                                </div>
                {% include "/base/sub_top.html" %}
		</div>
			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<div id="scoreboard" class="col-3-table">
							<table>
								<td class = "tr-top">Place</td><td class = "tr-top">Team_Name</td><td class = "tr-top">Score</td>
									{% for i in range(len_score) %}
										{% if i%2 == 0 %}
											<tr class = "tr-first">
										{% else %}
											<tr class = "tr-second">
										{% endif %}
										<td class="td-left">{{i+1}}</td><td class="td-center"><a href = "/teams/{{score[i][0]}}">{{score[i][0]}}</a></td><td class="td-right">{{score[i][1]}}</h3>
									{% endfor %}
							</table>
						</div>
					</div>

				</div>

			<!-- Footer -->
				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
