					{% include "/base/top.html" %}
                                        <!-- Inner -->
                                                <div class="inner">
                                                        <header>
                                                                <h1><a href="#main" id="logo" class="circled scrolly">Sign-In</a></h1>
								<a href = "/sign-up" class = "button">Sign-up</a>
                                                        </header>
                                                </div>
					{% include "/base/sub_top.html" %}
				</div>

			<!-- Main -->
				<div class="wrapper style1">
					<div class="container">
						<article id="main" class="special">
							<section>
								<form action="/sign-in-proc", method="post">
									<div class="container">
										<label for="ID"><b>ID</b></label>
										<input type="text" placeholder="Enter ID" name="ID" required>
										<label for="psw"><b>Password</b></label>
										<input type="password" placeholder="Enter Password" name="PSW" required>
											<div class="signbutton">
											<br>
											<button type="submit" class="signin">Sign in</button>
											</div>
									</div>
								</form>
							</section>
						</article>
						<hr />
					</div>
				</div>
			<!-- Footer -->
				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
