					{% include "/base/top.html" %}
                                        <!-- Inner -->
                                                <div class="inner">
                                                        <header>
                                                                <h1><a href="#main" id="logo" class="circled scrolly">Sign-Up</h1>
                                                        </header>
                                                </div>
					{% include "/base/sub_top.html" %}
				</div>

			<!-- Main -->
				<div class="wrapper style1">

					<div class="container">
						<article id="main" class="special">
							<header>
                                                                <p>
									<h3>notice</h3>
                                                                        tables<br>
                                                                        공지사항 숙지? 동의?? check boxtest
                                                                </p>
							</header>
							<hr>
							<section>
								<form action="/sign-up-proc" method="post">
									<div class="container">
										<label for="TEAM_NAME"><b>Team Name</b></label>
										<input type="text" placeholder="Enter Team Name" name="TEAM_NAME" required>
										<hr />
										<label for="ID"><b>ID</b></label>
										<input type="text" placeholder="Enter ID" name="ID" required>
										<label for="psw"><b>Password</b></label>
										<input type="password" placeholder="Enter Password" name="PSW" required>
										<label for="psw-repeat"><b>Repeat Password</b></label>
										<input type="password" placeholder="Repeat Password" name="psw-repeat" required>
										<hr />
										<label for="message"><b>Information</b></label>
										<textarea type="text" placeholder="{{ placeholder_signup }} " name="MESSAGE"></textarea>
											<div class="clearfix">
											<br>
											<button type="submit" class="signup">Sign Up</button>
											<button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
											</div>
									</div>
								</form>
							</section>
						</article>
						<hr />
					</div>

				</div>

			<!-- Footer -->
				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>
