					{% include "/base/top.html" %}


                                        <!-- Inner -->
                                                <div class="inner">
                                                        <header>
                                                                <h1><a href="#content" id="logo" class="circled scrolly">Team</h1>
                                                        </header>
                                                </div>
					{% include "/base/sub_top.html" %}
				</div>
			<!-- Main -->
				<div class="wrapper style1">
					<div class="container">
						<div class="row gtr-200">
							<div class="col-4 col-12-mobile" id="sidebar">
								<hr class="first" />
								<section>
									<header>
                                                                                {% if session['ID'] %}
                                                                                        <p><a href = "/teams/{{my_team[0][0]}}">Go to my team!</a></p>
                                                                                {% endif %}
										<h3>Team Name</h3>
									</header>
								</section>
								<hr />
								{% for team in teams %}
									<a href = "/teams/{{team[0]}}"><p>{{team[0]}}<p></a>
									<hr />
								{% endfor %}
							</div>
							<div class="col-8 col-12-mobile imp-mobile team" id="content">
								<article id="main">
									<header>
										<h2>Team Manage</a></h2>
                                                                        <header>
                                                                                {% if team_users %}
                                                                                        {% for team_user in team_users %}
                                                                                        <h4>
                                                                                                Member : {{(team_user[0])}}
                                                                                        </h4>
                                                                                                <article id="sub">
                                                                                                        <header>
                                                                                                                Comment
                                                                                                        </header>
                                                                                                                <pre>{{team_user[1]}}</pre>
                                                                                                </article>
												<a href = "/team-manage-proc/{{team_user[0]}}"><button>ACCEPT</button></a>
                                                                                                <hr />
                                                                                        {% endfor %}
                                                                                {% endif %}
                                                                        </header>
									</header>
								</article>
							</div>
						</div>
						<hr />
					</div>

				</div>

			<!-- Footer -->
				{% include "/base/footer.html" %}
		</div>

		<!-- Scripts -->
                        <script src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.dropotron.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
                        <script src="{{url_for('static', filename='js/browser.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/breakpoints.min.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/util.js')}}"></script>  
                        <script src="{{url_for('static', filename='js/main.js')}}"></script>
	</body>
</html>
