<html>
<body>
        <div id = "challenge-choice-back" class = "challenge-choice-wrapper" style="background:#D7D9D9; z-index:-1;">
        </div>
	<div id = "challenge-choice-wrapper" class = "challenge-choice-wrapper" onclick="challenge_choice_off()">
	</div>
	<form action = "/admin-challenges-fix/" method = "post">
	<div id = "challenge-choice-body" class="challenge-choice-body admin-challenge">
		<div class="challenge-choice-name admin-challenge-choice-name">
			<input type="text" id = "admin_challenge_name" name = "admin_challenge_name" readonly />
			<input type="int" id = "admin_challenge_value" name = "admin_challenge_value"></input>
			<input type="text" id = "admin_challenge_category" name = "admin_challenge_category"></input>
		</div>
		<div class="challenge-choice-message">
			<textarea type="text" id = "admin_challenge_message" name = "admin_challenge_message"></textarea>
		</div>
		<input type="submit" value = "update" name = "submit"></input>
		<input type="submit" value = "delete" name = "submit"></input>
	</form>
	</div>
</body>
</html>
