<html>
<body>
	<div id = "challenge-choice-back" class = "challenge-choice-wrapper" style="background:#f0f4f4; z-index:-1;">
	</div>
	<div id = "challenge-choice-wrapper" class = "challenge-choice-wrapper" onclick="challenge_choice_off()">
	</div>
	<div id = "challenge-choice-body" class="challenge-choice-body">
		<div class="challenge-choice-name">
			<h2 id = "challenge_name"></h2>
		</div>
		<div class="challenge-choice-message">
			<h3 id = "challenge_message"></h3>
		</div>
	</div>
</body>
</html>
