                               <div class="wrapper style1 hint">
                                        <section id="features" class="container special">
                                                <header>
                                                        <h2 id = "hints"><a href = "#hints" class = "circled scrolly"><strong>Hint</strong></a></h2>
<table>
{% for hint in hints %}
<th>{{hint[0]}}</th><td>{{hint[1]}}</td>
<tr>
{% endfor %}


</table>
                                                </header>
                                        </section>
                                </div>
