<html>
<body>
<div id = "sign-in-wrapper" class = "sign-wrapper">
	<div id = "sign-in-back" onclick = "sign_in_off()" class = "sign-back">
	</div>
	<section id = "sign-in-body" method="post" onclick = "">
		<h2>Login</h2>
		<form action = "/sign-in-proc/" method="post">
			<lavel for = "ID"> <b>ID</b></label>
			<input type = "text" placeholder = "Enter ID" name = "ID" required>
			<label for = "psw"><b>Password</b></label>
			<input type = "password" placeholder = "Enter Password" name = "PSW" required>
			<br>
			<div class = "signbutton">
				<button type = "submit">Sign in </button>
				<a class = "button" onclick = "sign_in_off(); sign_up_on();">Join !!</a>
			</div>
		</form>
	</section>
</div>
</body>
</html>
