                                                <nav id="nav">
                                                        <ul>
                                                                <li><a href="/">Home</a></li>
                                                                <li><a href="/teams/">Team</a></li>
                                                                <li><a href="/challenges/">Challenges</a></li>
                                                                <li><a href="/scoreboard/">Scoreboard</a></li>
                                                        </ul>
                                                </nav>
