                                                <nav id="nav">
                                                        <ul>
                                                                <li><a href="/admin/">Home</a></li>
                                                                <li><a href="/admin-teams/">Team</a></li>
                                                                <li><a href="/admin-challenges/">Challenges</a></li>
                                                        </ul>
                                                </nav>
