<!DOCTYPE HTML>
<html>
        <head>
                <title>Hello Cand0</title>
                <meta charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
                <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
                <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
		<script type="text/javascript" src="test.js"></script>
        </head>
        <body class="no-sidebar is-preload">
                <div id="page-wrapper">

                        <!-- Header -->
                                <div id="header">

                                        <!-- Inner -->
                                                <div class="inner">
                                                        <header>
                                                                <h1><a href="/index/" id="logo">Cnad0</a></h1>
                                                        </header>
                                                </div>

                                        <!-- Nav -->
